@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>
        <a href="/Appointments" class="btn btn-primary">
            Check Appointments

        </a>
        <a href="/MedicalPrescriptions" class="btn btn-outline-primary">View Medical Prescription</a>
        <a asp-page="/Doctor/ManageDoctorAppointments" class="btn btn-primary">Manage Appointments</a>

    </p>
</div>
